# Dataframe from file
Pandas supports loading data from multiple file formats, including: excel, csv, json, xml

In [1]:
import pandas as pd

In [6]:
pd.read_csv("..\\Data\\students.csv") # Första rad blir header
pd.read_csv("..\\Data\\students.csv", header = None) # Första rad blir inte header
pd.read_csv("..\\Data\\students.csv", header = 1) # Om man vill skippa första raden och att header istället börjar på rad 1.

  kalle   AI23   kalle@gmail.com
0   eva   AI22   eva@hotmail.com

In [41]:
students = pd.read_csv("..\\Data\\students.csv", header = 0) 
students.head(1) # får upp första raden (inklusive header), default är 5 första raderna

    adam   AI23    adam@gmail.com
0  kalle   AI23   kalle@gmail.com

In [12]:
autos = pd.read_json("..\\Data\\autos.json")
autos.head()   # får upp 5 första raderna

,aspiration,body-style,bore,city-mpg,compression-ratio,curb-weight,drive-wheels,engine-location,engine-size,engine-type,...,make,normalized-losses,num-of-cylinders,num-of-doors,peak-rpm,price,stroke,symboling,wheel-base,width
0,std,convertible,3.47,21,9.0,2548,rwd,front,130,dohc,...,alfa-romero,NaN,four,two,5000.0,13495.0,2.68,3,88.6,64.1
1,std,convertible,3.47,21,9.0,2548,rwd,front,130,dohc,...,alfa-romero,NaN,four,two,5000.0,16500.0,2.68,3,88.6,64.1
2,std,hatchback,2.68,19,9.0,2823,rwd,front,152,ohcv,...,alfa-romero,NaN,six,two,5000.0,16500.0,3.47,1,94.5,65.5
3,std,sedan,3.19,24,10.0,2337,fwd,front,109,ohc,...,audi,164.0,four,four,5500.0,13950.0,3.40,2,99.8,66.2
4,std,sedan,3.19,18,8.0,2824,4wd,front,136,ohc,...,audi,164.0,five,four,5500.0,17450.0,3.40,2,99.4,66.4

In [ ]:
scb = pd.read_excel("..\\Data\\befolkningsstatistik.xlsx", skiprows = 3)  # man kan även ange sheetname
# I denna fil finns det text innan, och tabellen börjar på annan rad. Då kan man använda skiprows eller header
scb.head()

In [34]:
autos.head(10)                # Dessa gör inget med dataframe, bara visar ngt. - bara sista gör. 
autos.tail()                  # får upp 5 sista
autos.sample(5)               # får fram fem olika slumpmässiga rader
autos

,aspiration,body-style,bore,city-mpg,compression-ratio,curb-weight,drive-wheels,engine-location,engine-size,engine-type,...,make,normalized-losses,num-of-cylinders,num-of-doors,peak-rpm,price,stroke,symboling,wheel-base,width
0,std,convertible,3.47,21,9.0,2548,rwd,front,130,dohc,...,alfa-romero,NaN,four,two,5000.0,13495.0,2.68,3,88.6,64.1
1,std,convertible,3.47,21,9.0,2548,rwd,front,130,dohc,...,alfa-romero,NaN,four,two,5000.0,16500.0,2.68,3,88.6,64.1
2,std,hatchback,2.68,19,9.0,2823,rwd,front,152,ohcv,...,alfa-romero,NaN,six,two,5000.0,16500.0,3.47,1,94.5,65.5
3,std,sedan,3.19,24,10.0,2337,fwd,front,109,ohc,...,audi,164.0,four,four,5500.0,13950.0,3.40,2,99.8,66.2
4,std,sedan,3.19,18,8.0,2824,4wd,front,136,ohc,...,audi,164.0,five,four,5500.0,17450.0,3.40,2,99.4,66.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,std,sedan,3.78,23,9.5,2952,rwd,front,141,ohc,...,volvo,95.0,four,four,5400.0,16845.0,3.15,-1,109.1,68.9
201,turbo,sedan,3.78,19,8.7,3049,rwd,front,141,ohc,...,volvo,95.0,four,four,5300.0,19045.0,3.15,-1,109.1,68.8
202,std,sedan,3.58,18,8.8,3012,rwd,front,173,ohcv,...,volvo,95.0,six,four,5500.0,21485.0,2.87,-1,109.1,68.9
203,turbo,sedan,3.01,26,23.0,3217,rwd,front,145,ohc,...,volvo,95.0,six,four,4800.0,22470.0,3.40,-1,109.1,68.9
204,turbo,sedan,3.78,19,9.5,3062,rwd,front,141,ohc,...,volvo,95.0,four,four,5400.0,22625.0,3.15,-1,109.1,68.9

In [36]:
# Vid många kolumner och rader så visas några kolumner/rader, sedan kommer tre små punkter och bryter listan och därefter resten. Detta görs p.g.a. inställning i panda
# som kan ändras:

pd.set_option("display.max_columns", None)          # Här ser man samtliga, man ändrar från default som är 20 till ingen maxgräns
pd.set_option("display.max_rows", None)             # Här ser man samtliga, man ändrar från default som är 20 till ingen maxgräns

pd.set_option("display.max_columns", 6)       # Visar alla kolumner, men enbart första tre och sista tre raderna.
pd.set_option("display.max_rows", 6)          # Visar alla rader, men enbart första tre och sista tre raderna.

In [37]:
autos.shape  # (visar antal rader och kolumner) 

rows, columns = autos.shape         # Glömde vad begreppet heter, men delar tuplen från shape i två variabler

print(f"Dataframe has {rows} and {columns} columns")

(205, 26)

In [42]:
# Går även att ta reda på antal kolumner och rader på detta sätt: 
rows = len(autos)
columns = len(autos.columns)

print(f"Dataframe has {rows} and {columns} columns")

Dataframe has 205 and 26 columns

In [40]:
autos.info() # antal kolumner, vilka datatyper, vilka saknar data, minnet som tabellen tar, m.m.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   aspiration         205 non-null    object
 1   body-style         205 non-null    object
 2   bore               201 non-null    float64
 3   city-mpg           205 non-null    int64
 4   compression-ratio  205 non-null    float64
 5   curb-weight        205 non-null    int64
 6   drive-wheels       205 non-null    object
 7   engine-location    205 non-null    object
 8   engine-size        205 non-null    int64
 9   engine-type        205 non-null    object
 10  fuel-system        205 non-null    object
 11  fuel-type          205 non-null    object
 12  height             205 non-null    float64
 13  highway-mpg        205 non-null    int64
 14  horsepower         203 non-null    float64
 15  length             205 non-null    float64
 16  make               205 non-null    object
 17  normalized-losses  164 non-null    float64
 18  num-of-cylinders   205 non-null    object
 19  num-of-doors       203 non-null    object
 20  peak-rpm           203 non-null    float64
 21  price              201 non-null    float64
 22  stroke             201 non-null    float64
 23  symboling          205 non-null    int64
 24  wheel-base         205 non-null    float64
 25  width              205 non-null    float64
dtypes: float64(11), int64(5), object(10)
memory usage: 41.8+ KB

### Convert to common formats
När vi vill spara eller konvertera gör vi det direkt i dataframes, förut enbart läst dataframes men här sparar ned i nytt format
Då väljer man "to" och sedan något, enligt:
filnamn.to_format

In [ ]:
# Copy dataframe to clipboard (then use Ctrl + V)
autos.to_clipboard()        # Här kopierar man dataframe till clipboard, 
                            # Man kan sedan klistra in. Excel, google docs osv, smidigt att kunna göra så

In [60]:
autos.to_csv("..\\Data\\autos.csv", index = None) # Man anger filnamn och format att omvandla till, sedan vart filen ska sparas och heta
                                                  # Man får med index i panda dataframes 
                                                  # i utskrift men man vill inte ha med det i filen och använder index = None

csv_string = autos.to_csv()                       # Här refererar man variabel csv_string till den nya filen i csv format

print(csv_string[:1000])                          # print för att få ut som rader, och sedan första 1000 tecken.
                                                  # om man skriver csv_string direkt så fås allt på en och samma rad

,aspiration,body-style,bore,city-mpg,compression-ratio,curb-weight,drive-wheels,engine-location,engine-size,engine-type,fuel-system,fuel-type,height,highway-mpg,horsepower,length,make,normalized-losses,num-of-cylinders,num-of-doors,peak-rpm,price,stroke,symboling,wheel-base,width
0,std,convertible,3.47,21,9.0,2548,rwd,front,130,dohc,mpfi,gas,48.8,27,111.0,168.8,alfa-romero,,four,two,5000.0,13495.0,2.68,3,88.6,64.1
1,std,convertible,3.47,21,9.0,2548,rwd,front,130,dohc,mpfi,gas,48.8,27,111.0,168.8,alfa-romero,,four,two,5000.0,16500.0,2.68,3,88.6,64.1
2,std,hatchback,2.68,19,9.0,2823,rwd,front,152,ohcv,mpfi,gas,52.4,26,154.0,171.2,alfa-romero,,six,two,5000.0,16500.0,3.47,1,94.5,65.5
3,std,sedan,3.19,24,10.0,2337,fwd,front,109,ohc,mpfi,gas,54.3,30,102.0,176.6,audi,164.0,four,four,5500.0,13950.0,3.4,2,99.8,66.2
4,std,sedan,3.19,18,8.0,2824,4wd,front,136,ohc,mpfi,gas,54.3,22,115.0,176.6,audi,164.0,five,four,5500.0,17450.0,3.4,2,99.4,66.4
5,std,sedan,3.19,19,8.5,2507,fwd,front,136,ohc,m

In [65]:
autos.to_json("..\\Data\\autos.json", orient = "records")     # Orient records används för att få samma utseende som först. Annars i kolumner
                                                              # Annars är default att det görs kolumnvis
                                                              # Räcker att känna till här att man kan ta det kolumn eller radvis
                                                              # När man skriver över till json

json_string = autos.to_json(indent = 4, orient = "records")  # Här refererar variabeln till detta nya omvandlade format
print(json_string[:200])                                     # Skriver ut första 200 tecken

[
    {
        "aspiration":"std",
        "body-style":"convertible",
        "bore":3.47,
        "city-mpg":21,
        "compression-ratio":9.0,
        "curb-weight":2548,
        "drive-wheels":

In [55]:
my_dict = autos.to_dict(orient = "records")    # man tar en Panda dataframe och gör om till dictionary
                                               # jämför med första exempel där man istället tog dictionary och gjorde till panda dataframe
my_dict[0]                                     # Första index kan man ta ut eftersom det är lista med dictionaries nu

{'aspiration': 'std',
 'body-style': 'convertible',
 'bore': 3.47,
 'city-mpg': 21,
 'compression-ratio': 9.0,
 'curb-weight': 2548,
 'drive-wheels': 'rwd',
 'engine-location': 'front',
 'engine-size': 130,
 'engine-type': 'dohc',
 'fuel-system': 'mpfi',
 'fuel-type': 'gas',
 'height': 48.8,
 'highway-mpg': 27,
 'horsepower': 111.0,
 'length': 168.8,
 'make': 'alfa-romero',
 'normalized-losses': nan,
 'num-of-cylinders': 'four',
 'num-of-doors': 'two',
 'peak-rpm': 5000.0,
 'price': 13495.0,
 'stroke': 2.68,
 'symboling': 3,
 'wheel-base': 88.6,
 'width': 64.1}

XML används för samma funktion som json men äldre och mer svårläst. Titta mer på det själv vid behov. 
Ladda ned svg fil och öppna i VSC så ser du att en XML beskriver koden- typ här ska vara en cirkel med detta osv